<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>REGISTER</h2>
    
    <form action="/register" method="post">
        <input type="text" name="username" id="username" required>
        <input type="password" name="password" id="password" required>
        <select name="role" id="role">
            <option value="user">user</option>
        </select>
        <button type="submit">Enter</button>
    </form>
</body>
</html>